*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$color-bg: #121212;
$color-white: #ffffff;
$color-accent: #4369b2;

body {
  background-color: $color-bg;
  color: $color-white;
}